html {
    margin: 0px;
    padding: 0px;
}
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
    .toggle {
      position: ralative;
      height: 100%;
      background: #CBE7FF;
      width: 100%;
      transition: all .5s ease-in-out;
    }
    
    .toggle-content {
      width: 100%;
      height: 100%;
      color: white;
      background-color: white;
    }
    
    @media screen and (max-width: 768px) {
      .toggle {
        position: fixed;
        width: 50px;
        height: 50px;
        border-radius: 100%;
      }
    
      .menu-btn {
        margin-left: 10px;
        margin-top: 5px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 40px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        z-index: 2;
      }
      .menu-btn__burger {
        width: 30px;
        height: 3px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255,101,47,.2);
        transition: all .5s ease-in-out;
      }
      .menu-btn__burger::before,
      .menu-btn__burger::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 3px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255,101,47,.2);
        transition: all .5s ease-in-out;
      }
      .menu-btn__burger::before {
        transform: translateY(-8px);
        background: #fff;
        transition: all .5s ease-in-out;
      }
      .menu-btn__burger::after {
        transform: translateY(8px);
        background: #fff;
        transition: all .5s ease-in-out;
      }
      /* ANIMATION */
      .menu-btn.open .menu-btn__burger {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
      }
      .menu-btn.open .menu-btn__burger::before {
        transform: rotate(45deg) translate(35px, -35px);
        background-color: black;
      }
      .menu-btn.open .menu-btn__burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
        background-color: black;
      }
    
      .toggle-content {
        position: fixed;
        background: #CBE7FF;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -100%);
        -webkit-clip-path: circle(100px at 90% -100%);
        transition: all 1s ease-out;
        pointer-events: none;
        height: 100vh;
        overflow-y: scroll;
      }

      .toggle-content.open {
        clip-path: circle(1000px at 90% );
        -webkit-clip-path: circle(1000px at 90%);
        pointer-events: all;
        background-color: white;
      }
  
      .content-item {
        opacity: 0;
        transition: all 0.5s ease 0.2s;
      }
  
      .content-item.fade {
        opacity: 1;
      }
    }

    /* The container */
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 0px;
        cursor: pointer;
        font-size: 18px;
        color: black;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border-style: solid;
    border-width: 3px;
    border-color: #CBE7FF;
    border-radius: 4px;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #CBE7FF;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 7px;
    top: 0px;
    width: 6px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .check-heading {
    color: black;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
  }

    #slider-range .ui-slider-range { 
        background: #CBE7FF; 
    }
    #slider-range .ui-slider-handle {
        border-color: #CBE7FF;
        border-width: 3px;
        border-style: solid; 
        border-radius: 100%;
        background-color: #F1F8FE;
    }

    #slider-range .ui-slider-handle:focus {
        border-color: #CBE7FF;
        border-width: 3px;
        border-style: solid; 
        border-radius: 100%;
        background-color: #F1F8FE;
        outline: none;
    }

    #amount {
        color: black;
        border: 0;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    .checked {
        color: orange;
    }

    @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

    fieldset, label { margin: 0; padding: 0; }
    h1 { font-size: 1.5em; margin: 10px; }

    /****** Style Star Rating Widget *****/

    .rating { 
    border: none;
    float: left;
    }

    .rating > input { display: none; } 
    .rating > label:before { 
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
    }

    .rating > .half:before { 
    content: "\f089";
    position: absolute;
    }

    .rating > label { 
        color: #ddd; 
        float: right;
        font-size: 30px; 
    }

    /***** CSS Magic to Highlight Stars on Hover *****/

    .rating > input:checked ~ label, /* show gold star when clicked */
    .rating:not(:checked) > label:hover, /* hover current star */
    .rating:not(:checked) > label:hover ~ label { color: #CBE7FF;  } /* hover previous stars in list */

    .rating > input:checked + label:hover, /* hover current star when changing rating */
    .rating > input:checked ~ label:hover,
    .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
    .rating > input:checked ~ label:hover ~ label { color:#9DD2FF;  } 

    .location {
        border-color: #CBE7FF;
        border-style: solid;
        border-width: 2px;
        color: black;
        margin-left: 30px;
        border-radius: 7px;
        height: 25px;
        display: inline-block;
        outline: none;
        text-align: center;
    }

    .location:focus {
        border-color: #CBE7FF;
        border-style: solid;
        border-width: 2px;
        color: black;
        margin-left: 30px;
        border-radius: 7px;
        height: 25px;
        display: inline-block;
        outline: none;
    }

    .location::placeholder {
        color: #CBE7FF;
    }

    ::-webkit-scrollbar {
      width: 2px;
    }
    
    ::-webkit-scrollbar-track {
      border: 3px solid transparent;
      background-color: transparent;
    }
    
    ::-webkit-scrollbar-thumb {
      background-color: transparent;
      width: 5px;
      border-radius: 5px;
    }

    .search-text {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 60px;
      font-weight: bold;
      display: inline-block;
    }

    .result-text {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 22px;
      font-weight: bold;
      display: inline-block;
      color: #CBE7FF;
    }
    @media screen and (max-width: 768px) {
      .search-text {
        font-size: 40px;
      }
  
      .result-text {
        font-size: 10px;
      }
    }